<!DOCTYPE html>
<html>
    <head>
        <title> Famous Quote Search </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        
            
            $("a").on("click", function(){
                alert("test"); 
                $.ajax({
            
                    method: "GET",
                    url: "",
                    dataType: "",
                    data: { "": },
                    success: function(result,status) {
                       alert(result);
                    }
            
                });//ajax
            })
    });
    </script>
    </head>
    <body>
        
        <h1> Quotes Found:  </h1>

        <% records.forEach( function(record){ %> 
        
            <i><%= record.quote %></i> <br>
            <a href="#">-<%= record.firstName %> <%= record.lastName %> </a>
            <br><br>

        <% })  %>

    </body>
</html>